.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu {
  margin: 10px;
}

.button {

  width: 8em;
  height: 3em;
}

.App-link {
  color: #61dafb;
}

.searchBar {
  border: solid #000000 1px;
}

.sideMenu {
  width: 30%;

  float: left;
}

.emailWindow {
  width: 65%;
  border: solid #000000 1px;
  float: left;
}

.email {
  width: 100%;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  transition: box-shadow .3s;
  border-radius:10px;
}

.email:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  font-weight: bold;
}

.singleEmail {
  text-align: left;
  margin: 15px;
}

.sender {
  width: 20%;
  float: left;
}

.emailOdd {
  background-color: #ffffff;
}

.emailEven {
  background-color: #f0f0f0;
}

.subject {
  width: 50%;
  float: left;
}

.dateReceived {
  width: 25%;
  float: left;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
